* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-container {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

#searchInput {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    flex: 1;
}

#searchButton {
    background: none;
    border: none;
    cursor: pointer;
}

#searchButton img {
    width: 20px;
    height: 20px;
    margin-left: 5px; 
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: red;
}
.TopPage {
    font-size: xx-large;
    margin-top: -2%;
}
.rotating-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    margin-left: -45vw;
    margin-top: -30vh;
    background-image: url(./images/an-image-of-space-and-stars-that-will-be-used-for-a-b.jpg); 
    background-repeat: repeat-y;
    background-size: cover;
    z-index: 1;
    animation: spinZoom 20s linear infinite;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.parallax1 {
    background-image: url(./images/create-a-computer-work-station-with-3-32-flat-screen-.png);
}

.parallax2 {
    background-image: url(./images/fe976b9e-4f89-4240-a1bc-a3901c546291.png);
}

.parallax3 {
    background-image: url(./images/2351d72f-5520-4818-b12e-f87d93aff036.png); 
}

.parallax4 {
    background-image: url(./images/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.png); 
}

.parallax5 {
    background-image: url(./images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg); 
    height: 50vh;
}

.parallax6 {
    background-image: url(./images/Fully\ TransLogo.png); 
    background-size: contain;
    height: 100vh;
}

.content {
    padding: 20px;
    z-index: 2; 
    padding-bottom: 10vh;
    background-color: #1d1d1d;
    opacity: .7;
}

h2 {
    margin-top: -40vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(226, 224, 224);
}

.section-title {
    margin-top: 15vh;
    top: 0;
    font-size: 36px;
}

.projects {
    text-align: center;
    font-size: xxx-large;
    z-index: 3;
}

.Javascript {
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.Javascript p {
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    list-style: none;
    pointer-events: none;
    z-index: 3;
}

.vidList {
    position: relative;
    z-index: 2;
}

.SQL p {
    margin-top: 5vh;
    font-size: xx-large;
    text-decoration: none;
    list-style: none;
    z-index: 3;
    font-weight: bolder;
}


.projectTitle {
    width: 80vw;
    margin-left: 10vw;
    color: black;
    text-align: left;
    z-index: 3;
}

#video_player {
    margin-top: 10vh;
    display: table;
    height: auto;
    width: 80vw;
    height: 65vh;
    margin-left: 0;
    background: rgb(5, 5, 5);
    border-radius: 10px;
    z-index: 3;
}

#video_player video,
#video_player figcaption {
    display: table-cell;
    vertical-align: top;
    height: 65vh;
    overflow: hidden;
    border-radius: 10px;
    z-index: 3;
}

.figHeight {
    height: 20vh;
}

#video_player figcaption {
    width: 30%;
    overflow-y: auto;
    height: 65vh;
    z-index: 3;
}
#video_player figcaption video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#video_player figcaption:hover {
    overflow: hidden;
    overflow-y: scroll;
    z-index: 3;
}

#video_player figcaption img {
    width: 100%;
    height: auto;
}
#video_player figcaption a img,
figure video {
    width: 100%;
    height: auto;
    z-index: 3;
}

#video_player figcaption a:hover {
    opacity: 1;
}

.Tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.Tableau .row1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 5vh;
}

.Tableau .row1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 40%;
    transition: opacity 0.3s;
}

.Tableau .row1 a:hover {
    opacity: 0.7;
}

.Tableau img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.Tableau h3 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 1em;
}

.Gamestitle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
}

.Gamestitle p {
    top: 0;
    text-align: center;
    font-size: x-large;
}

.projectsGames {
    position: absolute;
    top: 10vh;
    width: 90vw;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    gap: 10%;
    border-radius: 25px;
}


.Python {
    text-align: center;
    margin-top: 5vh;
    z-index: 3;
    padding-top: 50px;
}

.Python p {
    top: 5vh;
    text-align: center;
    font-size: x-large;
    z-index: 3;
}

.Pythonscripts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* Styles for each row item */
.Pythonscripts .row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pythonscripts .row1 a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pythonscripts .row1 img {
    width: 100%;
    height: auto;
    max-height: 250px; /* Fixed height for all images */
    object-fit: cover;
}

.row1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: auto; 
    font-size: larger;
    text-align: left;
}

.row1 a {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: left;
    list-style: none;
    text-decoration: none;
    color: rgb(245, 243, 243);
}

.row1 a:hover {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: left;
    height: 100%;
    opacity: .5;
    transition: 1s;
    color: red;
}

.row1 img {
    height: 20vh;
    width: 100%;
}

.icons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: auto;
    width: 25vw;
    height: 4vh;
    gap: 2vh 3vw;
    text-align: center;
}

.icons a {
    display: grid;
    top: 0;
    text-align: center;
}

.icons img {
    margin-top: auto;
    display: grid;

    max-height: 25px;
    max-width: 25px;
    text-align: center;
    margin-left: 1vw;
}

.icons a:hover {
    background-color: rgb(248, 4, 4);
    display: block;
    text-align: center;
    opacity: .5;
    transition: 1s;
}

.queries {
    width: 90vw;
    font-size: large;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 5vh;
}

.queries div {
    height: auto;
    color: white;
}

.queries a {
    margin-top: 5vh;
    height: 20vh;
    color: white;
    text-decoration: none;
}

.queries img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.aboutism, .emailText {
    padding: 20px;
    z-index: 2;
    margin-bottom: 20px;
}
.emailText a:hover{
    color: red;
    opacity: .7;
}

.mankave {
    top: 0;
    display: grid;
    grid-template-columns: auto;
    font-size: xx-large;
}

.mankave a {
    padding-top: 5vh;
    color: aliceblue;
}

.mankave a:hover {
    color: red;
    opacity: 7;
}

.content2 a {
    color: aliceblue;
}


footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
}

@keyframes spinZoom {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(2) rotate(360deg);
    }
}



@media only screen and (max-width: 768px) {
    .header-content {
        width: 90vw;
    }
    .TopPage h2{
     margin-top: -115%;   
    }

    .navbar {
        flex-direction: row;
        
    }

    .nav-links {
        flex-direction: row;
        align-items: center;
    }

    .nav-links li {
        margin: 5px 0;
    }
    .aboutism {
        height: 100vh;
        width: 100vw;
    
    }
    .parallax2 {
        height: 100%;
    }

    .projectsGames, .Pythonscripts, .queries {
        grid-template-rows: auto;
        align-self: center;
        width: 100%;
        margin: 0;
    }
    

    .Tableau .row1, .icons {
        width: 100%;
        padding: 2.5%;
        grid-template-columns: 1fr 1fr;
        
    }

    .Tableau .row1 a, .icons a {
        width: 100%;
        padding: 2.5%;
    }

    #video_player {
        width: 95%;
        height: auto;
        text-align: center;
        margin-left: 2.5%;
    }

    #video_player figcaption {
        width: 30%;
    }

    h2 {
        font-size: 30px;
    }
    .row1 h3 {
        width: 80%;
        font-size: 20px;
    }
    .Pythonscripts {
        grid-template-columns: repeat(4, 1fr);
        
        
    }

    .Pythonscripts .row1 img {
        height: 150px; 
        
    }

    .Python p {
        font-size: 1.5em; 
        margin-bottom: 20px; 
    }
    .queries {
        margin: auto;
            }
    .section-title {
        font-size: 28px;
    }

    .projects {
        font-size: x-large;
    }
    .projects p {
        display: none;
    }
    .projectsGames {
        background-color: none;
        width: 100vw;
        left: 5%;
    }
    .projectsGames .row1{
        width: 40vw;
        margin-left: 0;
        padding: 10vw;
    }
    .Javascript p, .Gamestitle p, .Python p {
        font-size: large;
    }
    .icons {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto auto auto;
        width: 100%;
    }
    .icons a{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        width: 70%;
    }
    .rotating-background {
        background-size: cover;
    }
}
