* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    margin: 0;
    top: 0;
          }
.sideLinks ul{ 
    display: inline-block;
    position: fixed;   
    height: 10vh;
    width: 100vw;
    list-style-type: none;
    z-index: 1;
    padding: 0;
    overflow: hidden;
    text-align: center;
    top: 0;
        }
.sideLinks li{
    float: left;
                }
.sideLinks li a{
    display: block;
    color: white;
    margin-top: 1vh;
    width: 19vw;
    overflow-y: hidden;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    overflow-x: hidden;
    background: rgb(0, 0, 0, .2);
        }
.sideLinks a:hover{
    height: 3vh;
    opacity: .8;
	transition: 1s;
    z-index: 2;
    color: red;
    background-color: rgb(0, 0, 0, .6);
    }
html, body {
    margin: 0;
    padding: 0;
    background: black;
}

.content {
    width: 100vw;
    height: auto;
    margin: auto;
    padding: 40px 0 40px 0;

}
.hero-back {
    width: 90vw;
    height: 105vh;
    margin-left: 5vw;
    background: url(./images/pexels-phil-kallahar-983200.jpg) no-repeat 50% 50%;
    background-size: cover;
    top: 0;
    position: relative;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: 30vh;
    }

p {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-weight: lighter;
}

.hero-back img {
    width: 90vw;
    height: 105vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.icons{
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: auto;
    width: 25vw;
    height: 4vh;
    gap: 2vh 3vw;
    text-align: center;
  }
.icons a{
    display: grid;
    top: 0;
    text-align: center;
}
.icons img{
    display: grid;
    width: 3vw;
    height: 3vh;
    max-height: 25px;
    max-width: 25px;
    text-align: center;
}
.icons a:hover{
    background-color: #000;
    display: block;
	opacity: .5;
	transition: 1s;
}
.boxes{
    background: rgb(0, 0, 0, .7);
    margin-top: 10vh;
    width: 90vw;
    line-height: 0px;
    margin-left: 5vw;
    text-align: center;
    vertical-align: top;
    display: table;
    border-bottom: rgba(190, 12, 12, 0.6) 1mm groove;
    border-top: rgb(190, 12, 12, .6) 1mm groove;
    }
.boxes span{
    display: table-cell;
    vertical-align: top;
    width: 30vw;
        }
.boxes span img{
    display: table-cell;
    height: 12vh;
    width: 11vw;
    margin-left: 10vw;
    min-width: auto;
        }
.boxes2{
    width: 100vw;
    margin-top: 10px;
    max-height: fit-content;
    display: table;
    background-color: rgb(0, 0, 0, .7);
               }
.bxtxt{ 
    color: whitesmoke;
    display: table-cell;
    width: 30vw;
    font-size: large;
    vertical-align: top;
    list-style: none;
    text-decoration: none;
    text-align: center;
        }
.bxtxt li{
    width: 20vw;
    margin-left: 10vw;
    margin-bottom: 20px;
    }
.aboutism{
    font-size: x-large;
    height: 100%;
    color: rgb(253, 249, 249);
    margin-left: 10vw;
    text-align: left;
    width: 80vw;
        }
.aboutTitle{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: xx-large;
    margin-top: 10vh;
    color: rgb(248, 247, 247);
    text-align: center;
        }
.emailText{
    margin-top: 10vh;
    color: #fff;
    text-align: center;
    bottom: 0;
}
.projects{
    margin-top: 10vh;
    text-align: center;
    font-size: xxx-large;
}
.Javascript{
    text-decoration: none;
}
.Javascript p{
    margin-top: 15vh;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    list-style: none;
    pointer-events: none;
}
.SQL p{
    margin-top: 5vh;
    font-size: x-large;
    text-decoration: none;
    list-style: none;
}
.Python p{
    text-align: center;
    font-size: x-large;
    margin-top: 5vh;
    text-decoration: none;
}
.projectTitle{
    width: 80vw;
    margin-left: 10vw;
    color: black;
    text-align: left;
}
#video_player {
    margin-top: 10vh;
	display: table;
	height: auto;
    width: 80vw;
    height: 65vh;
    margin-left: 10vw;
	background: rgb(5, 5, 5);
    border-radius: 10px;
}
#video_player video,
#video_player figcaption {
	display: table-cell;
	vertical-align: top;
    height: 65vh;
    overflow: hidden;
    border-radius: 10px;
        }
.figHeight{
    height: 20vh;
}
#video_player figcaption {
	width: 20vw;
    overflow: hidden;
        }
#video_player figcaption:hover {
    overflow: hidden;
    overflow-y: scroll;
                }
#video_player figcaption a {
    display: block;
	opacity: .5;
	transition: 1s;
}
#video_player figcaption a img,
	figure video {
		width: 100%;
		height: auto;
}
#video_player figcaption a:hover {
	opacity: 1;
}
.Tableau{
    margin left: 5vw;
    width: 90vw;
    height: auto;
    background-color: black;
    text-align: center;
    font-size: large;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}
.Tableau div{
    margin-left: 5vw;
    margin-top: 5vh;
    height: auto;
    color: white;      
}
.Tableau a{
    margin-top: 5vh;
    height: auto;
    color: white;
    text-decoration: none;
}
.Tableau img{
    height: auto;
    width: 15vw;
    object-fit: cover;
}
.Gamestitle p{
    margin-top: 5vh;
    text-align: center;
    font-size: x-large;
}
.projectGames{
        width: 90vw;
        margin-left: 10vw;
        color: black;
        text-align: left;
        margin-top: 80px;
            }
.projectsGames{
        margin-top: 10px;
        width: 90vw;
        margin-left: 10vw;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 3vh 3vw;
        background: black;
        padding: 10px;
        border-radius: 25px;
        margin: auto;
    }
.projectsGames div{
    margin-left: 5vw;
        display: block;
        width: 30vw;
        max-width: 500px;
        height: 20vh;
        background-color: black;
        text-align: center;
        font-size: 16;
        }
.row1 {
    height: 150px;
    font-size: larger;
}
.row1 a{
    list-style: none;
    text-decoration: none;
    color: rgb(245, 243, 243);
    }
.row1 a:hover{
    height: 100%;
	opacity: .5;
	transition: 1s;
    color: red;
    }
.row1 img{
    height: 100%;
    width: 100%;
}
.Pythonscripts {
    margin left: 5vw;
    width: 90vw;
    height: 50vh;
    background-color: black;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    }
.Pythonscripts div{
    margin-left: 5vw;
    margin-top: 5vh;
    height: auto;
    color: white;
    background-color: black;
}
.Pythonscripts a{;
    margin-top: 5vh;
    height: auto;
    color: white;
    text-decoration: none;
    
}
.Pythonscripts img{
    height: 15vh;
    width: 15vw;
    object-fit: cover;
}
.queries{
    margin left: 10vw;
    width: 90vw;
    height: auto;
    font-size: large;
    background-color: black;
    text-align: center;
    display: grid;
    margin-top: 5vh;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    }
.queries div{
    margin-left: 5vw;
        height: auto;
        color: white;
    }
.queries a{
        margin-top: 5vh;
        height: 20vh;
        color: white;
        text-decoration: none;
        
    }
.queries img{
        height: 20vh;
        width: 15vw;
        object-fit: cover;
    }