* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.logo h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

#searchInput {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    flex: 1;
}

#searchButton {
    background: none;
    border: none;
    cursor: pointer;
}

#searchButton img {
    width: 20px;
    height: 20px;
    margin-left: 5px; /* Adjust this value to position the icon */
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: red;
}

.rotating-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    margin-left: -30vw;
    margin-top: -30vh;
    background-image: url(./images/an-image-of-space-and-stars-that-will-be-used-for-a-b.jpg); /* Add your rotating background image here */
    background-repeat: repeat-y;
    background-size: cover;
    z-index: 1;
    animation: spinZoom 20s linear infinite;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.parallax1 {
    background-image: url(./images/create-a-computer-work-station-with-3-32-flat-screen-.png);
}

.parallax2 {
    background-image: url(./images/fe976b9e-4f89-4240-a1bc-a3901c546291.png);
}

.parallax3 {
    background-image: url(./images/2351d72f-5520-4818-b12e-f87d93aff036.png); /* Replace with your actual image path */
}

.parallax4 {
    background-image: url(./images/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.png); /* Replace with your actual image path */
}

.parallax5 {
    background-image: url(./images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg); /* Add your actual image path */
    
    height: 100vh;
}

.parallax6 {
    background-image: url(./images/Fully\ TransLogo.png); /* Add your actual image path */
    background-size: contain;
    height: 100vh;
}


.content {
    padding: 20px;
    z-index: 2; /* Ensure the content is above the background */
    padding-bottom: 10vh;
    background-color: #1d1d1d;
    opacity: .7;
}


h2 {
    margin-top: -40vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75px;
    color: rgb(226, 224, 224);
}

.section-title {
    margin-top: 15vh;
    top: 0;
    font-size: 36px;
}

.projects{
    text-align: center;
    font-size: xxx-large;
    z-index: 3;
}
.Javascript {
    position: absolute;
    top: 10%; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.Javascript p {
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    list-style: none;
    pointer-events: none;
    z-index: 3;
}

.vidList {
    position: relative;
    z-index: 2;
}

.SQL p{
    margin-top: 5vh;
    font-size: xx-large;
    text-decoration: none;
    list-style: none;
    z-index: 3;
    font-weight: bolder;
    }
.Python p{
    text-align: center;
    font-size: xx-large;
    margin-top: 5vh;
    text-decoration: none;
    z-index: 3;
}
.projectTitle{
    width: 80vw;
    margin-left: 10vw;
    color: black;
    text-align: left;
    z-index: 3;
}
#video_player {
    margin-top: 10vh;
	display: table;
	height: auto;
    width: 80vw;
    height: 65vh;
    margin-left: 0;
	background: rgb(5, 5, 5);
    border-radius: 10px;
    z-index: 3;
}
#video_player video,
#video_player figcaption {
	display: table-cell;
	vertical-align: top;
    height: 65vh;
    overflow: hidden;
    border-radius: 10px;
    z-index: 3;
        }
.figHeight{
    height: 20vh;
}
#video_player figcaption {
	width: 20vw;
    overflow: hidden;
    z-index: 3;
        }
#video_player figcaption:hover {
    overflow: hidden;
    overflow-y: scroll;
    z-index: 3;
                }
#video_player figcaption a {
    display: block;
	opacity: .5;
	transition: 1s;
    z-index: 3;
}
#video_player figcaption a img,
	figure video {
		width: 100%;
		height: auto;
        z-index: 3;
}
#video_player figcaption a:hover {
	opacity: 1;
}
.Tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.Tableau .row1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 5vh;
}

.Tableau .row1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 40%;
    transition: opacity 0.3s;
}

.Tableau .row1 a:hover {
    opacity: 0.7;
}

.Tableau img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.Tableau h3 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 1em;
}

.Gamestitle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
}

.Gamestitle p {
    top: 0;
    text-align: center;
    font-size: x-large;
}

.projectsGames {
    position: absolute;
    top: 15vh;
    width: 90vw;
    max-width: 40vw;
    max-height: 50vh;

    display: grid;
    grid-template-columns: auto auto;
    gap: 3vh 3vw;
    background: none;
    padding: 10px;
    border-radius: 25px;
}

.Python {
    text-align: center;
    margin-top: 5vh;
    z-index: 3;
}

.Python p {
    top: 5vh;
    text-align: center;
    font-size: x-large;
    z-index: 3;
}

.Pythonscripts {
    
    top: 0;
    width: 90vw;
    height: 100%;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}

.row1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: auto; /* Adjust as needed */
    font-size: larger;
    text-align: left;
    
}
.row1 a {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: left;
    list-style: none;
    text-decoration: none;
    color: rgb(245, 243, 243);
}

.row1 a:hover {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: left;
    height: 100%;
    opacity: .5;
    transition: 1s;
    color: red;
}

.row1 img {
    height: 20vh;
    width: 100%;
}
.icons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: auto;
    width: 25vw;
    height: 4vh;
    gap: 2vh 3vw;
    text-align: center;
  }
.icons a{
    display: grid;
    top: 0;
    text-align: center;
}
.icons img{
    margin-top: auto;
    display: grid;
    width: 3vw;
    height: 3vh;
    max-height: 25px;
    max-width: 25px;
    text-align: center;
}
.icons a:hover{
    background-color: #000;
    display: block;
	opacity: .5;
	transition: 1s;
}

.queries{
    margin-left: 10vw;
    width: 90vw;
    height: auto;
    font-size: large;
    background-color: none;
    text-align: center;
    display: grid;
    margin-top: 5vh;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    }
.queries div{
    
        height: auto;
        color: white;
    }
.queries a{
        margin-top: 5vh;
        height: 20vh;
        color: white;
        text-decoration: none;
        
    }
.queries img{
        height: 20vh;
        width: 15vw;
        object-fit: cover;
    }
.aboutism, .emailText {
    padding: 20px;
    z-index: 2;
}
.mankave {
    top: 0;
    display: grid;
    grid-template-columns: auto;
    font-size: xx-large;
}
.mankave a {
    padding-top: 5vh;
    color: aliceblue;
}
.mankave a:hover {
    color: red;
    opacity: 7;
}
.content2 a{
    color: aliceblue;
}
footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
}

@keyframes spinZoom {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(2) rotate(360deg);
    }
}
